body{
    background-color: rgb(23, 31, 46);
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.css-edit-button{
    
    width: 150px;
    height: 50px;
}
.available{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.created{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.person-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.person {
  width: 150px;
  height: 100px;
  margin: 10px;
  background-color: rgb(48, 78, 80);
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  flex-direction: column;   /* stack children vertically */
  cursor: pointer;
}
.person:hover{
  background-color: rgb(32, 51, 53);
  scale: 1.05;
}
.css-button-row{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.css-none {
  display: none;
}

.person-team-buttons button{
  margin: 5px;
}